header
    background-image: url(/assets/images/cars/carro-usado-3-getty.jpg)
    background-position-y: bottom 
    background-position-x: center
    background-repeat: no-repeat
    background-size: cover
    height: 130px